div{
    width: 640px;
    height:480px;
    background-image: url("software.png");
}
 
@media screen and (min-width:1201px) {
    div{
        background-position: 0 0;
        width:128px;
        height:240px;
    }
}

@media screen and (min-width:1101px) and (max-width:1200px) {
    div{
        background-position: -128px 0;
        width:128px;
        height:240px;
    }
}



@media screen and (min-width:1001px) and (max-width:1100px) {
    div{
        background-position: -256px 0;
        width:128px;
        height:240px;
    }
}

@media screen and (min-width:901px) and (max-width:1000px) {
    div{
        background-position: -384px 0;
        width:128px;
        height:240px;
    }
}

@media screen and (min-width:801px) and (max-width:900px) {
    div{
        background-position: -512px 0;
        width:128px;
        height:240px;
    }
}

@media screen and (min-width:701px) and (max-width:800px) {
    div{
        background-position: 0 -240px;
        width:128px;
        height:240px;
    }
}

@media screen and (min-width:601px) and (max-width:700px){
    div{
        background-position: -128px -240px;
        width:128px;
        height:240px;
    }
}

@media screen and (min-width:501px) and (max-width:600px) {
    div{
        background-position: -256px -240px;
        width:128px;
        height:240px;
    }
}

@media screen and (min-width:401px) and (max-width:500px) {
    div{
        background-position: -384px -240px;
        width:128px;
        height:240px;
    }
}


@media screen and (max-width:401px) {
    div{
        background-position: -512px -240px;
        width:128px;
        height:240px;
    }
}